DATABASE_URL="postgresql://[user[:password]@][netloc][:port][/dbname][?param1=value1&...]"

NEXT_PUBLIC_CUSTOM_THEME_URL="a custom css file that will be injected"
NEXT_PUBLIC_LANGUAGES="comma based language names for example: [en,de,it]"