SHEET_ID="Sheet ID found on Google Sheets URL"
CREDENTIALS="base64 encoded credentials.json file"
NEXT_PUBLIC_CUSTOM_THEME_URL="a custom css file that will be injected"
NEXT_PUBLIC_LANGUAGES="comma based language names for example: [en,de,it]"