@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .avoidBreakPageInside {
    page-break-inside: avoid;
  }

  .breakPageBefore {
    page-break-before: always;
  }

  .breakPageAfter {
    page-break-after: always;
  }
}
