@import "tailwindcss";

@media print {
  .avoidBreakPageInside {
    page-break-inside: avoid;
  }

  .breakPageBefore {
    page-break-before: always;
  }

  .breakPageAfter {
    page-break-after: always;
  }
}
